.structure__contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "form"
    "datos";
    h3{
        font-family: $titleFont;
        font-size: 1.3rem;
    }
    #Form{
        grid-area: form;
        form{
            width: 100%;
            font-family: $mainFont;
            @include font-size(0.9rem, 1rem, 1rem);
            font-weight: $textLight;
            @include display-flex(column, stretch, stretch);
            label{
                @include font-size(0.9rem, 1rem, 1rem);
                color:map-get($map:$palette, $key:'medium-grey');  
            }
            legend{
                @include font-size(0.9rem, 1rem, 1rem);
                font-weight: $textRegular;
                color:map-get($map:$palette, $key:'dark-grey');
            }
            @include medias (tablet){
                max-width: 600px;
                margin: 0 auto;
            }   
            .form-control{}
        }
    }    
    #Datos{
        grid-area: datos;
        @include display-flex(column, center, center);
        iframe{
            width: 80vw;
            height: 300px;
            border: none;
            @include medias (tablet){
                max-width: 450px;
            }
        }
        div{
            @include display-flex(column, center, center);
            img{
                width: 5vw;
                max-width: 30px;
                margin-bottom: 0.5vh;
            }
            p{
                font-family: $mainFont;
                font-size: 1.2rem;
            }
            @include medias (tablet){
                flex-direction: row;
            }   
        }
    }
    @include medias (desktop){
        grid-template-columns: repeat(1,2fr);
        grid-template-areas: 
        "form datos";
        margin-right: 5vw;
    }   
}